{% extends 'base.html.twig' %}

{% block title %} Home {% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Tell us about you</div>
                    <div class="panel-body">
                        {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
